{% extends 'appOM/base.html' %}
{% block title %}
<title>Ordinacija Mihajlović-AppHome</title>

{% endblock title %}

{% block content %}
<style>
    boje{
      background: blue;
    }
</style>
<div class='container' style="padding-top: 150px;">
  <h1>Lista zakazivanja </h1>
  <a class="btn btn-banner" style="background-color: rgb(16, 110, 110);" href="{% url 'zakazivanje' %}">Zakaži</a>
<span class="counter pull-right"></span>
<table class="table table-striped table-hover table-bordered results">
  <thead>
    <tr class="text-center">
          <th>Ime i prezime</th>
          <th>Datum</th>
          <th>Početak tretmana</th>
          <th>Kraj tretmana</th>
          <th>Doktor</th>
          <th>Opis</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody >
    {% for item in query_results %}
    {% if item.zavrseno is False %}
   

    <tr class="text-center boje" >

      
        <td >{{ item.ime_prezime }}</td>
        
        <td >{{ item.datum }}</td>

        <td >{{ item.time_start }}</td>

        <td >{{ item.time_end }}</td>

        <td >{{ item.dr }}</td>

        <td >{{ item.text }}</td>
        
        <td ><a class="btn btn-banner" style="background-color: rgb(16, 110, 110);" href="{% url 'edit_pacijent' item.pk %}">Izmeni</a>  </td>
        <td ><a class="btn btn-banner" style="background-color: rgb(156, 27, 27);" href="{% url 'delete_pacijent' item.pk %}" onclick="return confirm('Da li ste sigurni da želite da obrišete pacijenta ?')" id="del">Obriši</a>  </td>
        <td ><a class="btn btn-banner" style="background-color: rgb(16, 110, 110);" href="{% url 'edit_pacijent' item.pk %}">Odrađeno</a>  </td>
    </tr>
    {%else%}
    <tr class="text-center" > 
        <td ><strike>{{ item.ime_prezime }}</strike></td>
        
        <td ><strike>{{ item.date }}</strike></td>

        <td ><strike>{{ item.time_start }}</strike></td>

        <td ><strike>{{ item.time_end }}</strike></td>

        <td ><strike>{{ item.text }}</strike></td>
        
        <td ><a class="btn btn-banner" style="background-color: rgb(16, 110, 110);" href="{% url 'edit_pacijent' item.pk %}">Izmeni</a>  </td>
        <td ><a class="btn btn-banner" style="background-color: rgb(156, 27, 27);" href="{% url 'delete_pacijent' item.pk %}" onclick="return confirm('Da li ste sigurni da želite da obrišete pacijenta ?')" id="del">Obriši</a>  </td>
        <td ><a class="btn btn-banner" style="background-color: rgb(16, 110, 110);" href="{% url 'edit_pacijent' item.pk %}">Odrađeno</a>  </td>
    </tr>
    {%endif%}
    {% endfor %}
</tbody>
</table>
  <!-- //Termini -->	
  <div style="width:100%; height:150px;"></div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</div>



<!-- {% for arti in object_list %}
<div class="article">
  <h3><a href="{% url 'article_page' arti.pk %}">{{ arti.title }}</a></h3>
  <p>{{ arti.text  }}</p>
</div>
{% endfor %} -->

{% endblock content %}
